<title>Hello</title>

<div class ="center hero-unit">
	
	<h1>This is my site</h1>
	<p>
		There is only <%= link_to "one page", "/about" %> on this site,
		so you may as well check it out.
	</p>	
</div>
